
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <table class="table">
                <thead class="thead-inverse">
                  <tr>
                    <th>#</th>
                    <th>Wydzial</th>
                    <th>Przedmiot</th>
                    <th>ECTS</th>
                    <th>Semestr</th>
                    <th>Termin</th>
                  </tr>
                </thead>
                <tbody *ngIf="listOfSubjects">
                  <tr *ngFor="let subject of listOfSubjects; let i = index;">
                    <th scope="row">{{ i+1 }}</th>
                    <td>{{subject.Faculty.Name}}</td>
                    <td>{{subject.Subject.Name}}</td>
                    <td>{{subject.Subject.ECTS}}</td>
                    <td>{{subject.Subject.Semester}}</td>
                    <td>{{subject.Term}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
