
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <table class="table">
                <thead class="thead-inverse">
                  <tr>
                    <th>#</th>
                    <th>Przedmiot</th>
                    <th>ECTS</th>
                    <th>Semestr</th>
                    <th>Ocena</th>
                    <th>Zaakceptowana</th>
                    <th>Zareklamowana</th>
                  </tr>
                </thead>
                <tbody *ngIf="listOfMarks">
                  <tr *ngFor="let marks of listOfMarks; let i = index;">
                    <th scope="row">{{ i+1 }}</th>
                    <td>{{marks.Activity.Subject.Name}}</td>
                    <td>{{marks.Activity.Subject.ECTS}}</td>
                    <td>{{marks.Activity.Subject.Semestr}}</td>
                    <td>{{marks.Value}}</td>
                    <td>
                      <img *ngIf="marks.IsAccepted==false" class="card-img-top" src="../../assets/x-button.png">
                      <img *ngIf="marks.IsAccepted==true" class="card-img-top" src="../../assets/confirm.png">
                      <button (click)="acceptMark(marks.ID)" type="button" class="btn btn-success">Akceptuj</button>
                    </td>
                    <td>
                    <img *ngIf="marks.IsComplained==false" class="card-img-top" src="../../assets/x-button.png">
                    <img *ngIf="marks.IsComplained==true" class="card-img-top" src="../../assets/confirm.png">
                    <button *ngIf="marks.IsAccepted==false" (click)="makeReclamationMark(marks.ID)" type="button" class="btn btn-danger">Zareklamuj</button>
                  </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
