
.wrapper {	
	margin-top: 18rem;
}

.form-signin {
  max-width: 40rem;
  padding: 3rem;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

}
input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  input[type="text"] {
    margin-bottom: 0.2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
  }
