
<div class="wrapper">
    <form class="form-signin">       
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" name="username" placeholder="Login" required="" autofocus="" #loginField />
      <input type="password" class="form-control" name="password" placeholder="Password" required="" #passwordField />      
      <button (click)="login(loginField.value, passwordField.value)" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
    </form>
  </div>
