<div *ngIf="userRole===1">
<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Esos Elektroniczny Dziennik</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Strona Główna
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/subject-for-student']">
                        <span class='glyphicon glyphicon-education'></span> Przedmioty
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/marks-for-student']">
                        <span class='glyphicon glyphicon-th-list'></span> Oceny
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-log-out'></span> Wyloguj
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>

<div *ngIf="userRole===2">
    <div class='main-nav'>
        <div class='navbar navbar-inverse'>
            <div class='navbar-header'>
                <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                    <span class='sr-only'>Toggle navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>
                <a class='navbar-brand' [routerLink]="['/home']">Esos Elektroniczny Dziennik</a>
            </div>
            <div class='clearfix'></div>
            <div class='navbar-collapse collapse'>
                <ul class='nav navbar-nav'>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/home']">
                            <span class='glyphicon glyphicon-home'></span> Strona Główna
                        </a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/subject-for-lecturer']">
                            <span class='glyphicon glyphicon-education'></span> Lista Przedmiotów
                        </a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/fetch-data']">
                            <span class='glyphicon glyphicon-log-out'></span> Wyloguj
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>

<div *ngIf="userRole===3">
    <div class='main-nav'>
        <div class='navbar navbar-inverse'>
            <div class='navbar-header'>
                <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                    <span class='sr-only'>Toggle navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>
                <a class='navbar-brand' [routerLink]="['/home']">Esos Elektroniczny Dziennik</a>
            </div>
            <div class='clearfix'></div>
            <div class='navbar-collapse collapse'>
                <ul class='nav navbar-nav'>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/administrator']">
                            <span class='glyphicon glyphicon-home'></span> Strona Główna
                        </a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/list-of-users']">
                            <span class='glyphicon glyphicon-th-list'></span> Lista Użytkowników
                        </a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/fetch-data']">
                            <span class='glyphicon glyphicon-log-out'></span> Wyloguj
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>

    <div *ngIf="userRole===undefined">
        <not-implemented></not-implemented>

    </div>