
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
          <div class="card">
            <img class="card-img-top" src="../../assets/user.png">
            <div class="card-block">
              <h4 class="card-title">Ogólne informacje</h4>
              <p class="card-text">Prowadzacy</p>
            </div>
            <table class="table">
              <tbody>
                <tr>
                  <td>Imię: </td>
                  <td>{{ user.FirstName }}</td>
                  <td>Nazwisko: </td>
                  <td>{{ user.LastName }}</td>
                </tr>
                <tr>
                  <td>PESEL: </td>
                  <td>{{ user.PESEL }}</td>
                  <td>Indeks: </td>
                  <td>{{ user.Indeks }}</td>
                </tr>
                <tr>
                  <td>Email: </td>
                  <td>{{ user.Email }}</td>
                  <td>Numer telefonu: </td>
                  <td>{{ user.PhoneNumber }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
</div>
