<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>
      <nav-menu></nav-menu>
    </div>
    <div class='col-sm-9 body-content'>
      <table *ngIf="listOfUsers" class="table">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Email</th>
            <th>Indeks</th>
            <th>Rola</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of listOfUsers; let i = index;">
            <th scope="row">{{ i+1 }}</th>
            <td>{{user.FirstName}}</td>
            <td>{{user.LastName}}</td>
            <td>{{user.Email}}</td>
            <td>{{user.Indeks}}</td>
            <td>{{ getRole(user.Role) }}</td>
            <td><button (click)="setUserToEdit(i)" type="button" class="btn btn-info" data-toggle="modal" data-target="#editUser">Edytuj</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUser">
        Dodaj użytkownika
      </button>

      <div class="modal fade" id="addUser" tabindex="-1" role="dialog" #addUserModalShow>
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Dodaj nowego studenta</h5>
            </div>
            <div class="modal-body" #addUserModal>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="* Imie" #AddFirstName>
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="* Nazwisko" #AddSurname>
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input type="password" class="form-control" placeholder="* Hasło" #AddPassword>
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="Drugie Imie" #AddSecondName>
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="* PESEL" #AddPESEL>
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="* Email" #AddEmail>
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="* Numer telefonu" #AddPhoneNumber>
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="* Data urodzenia" #AddBirth>
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="Wskaznik rekrutacji" #AddScore>
              </div>
              <select class="custom-select" #selectedRole>
                <option selected>Wybierz Role</option>
                <option value="1">Student</option>
                <option value="2">Prowadzący</option>
                <option value="3">Administrator</option>
              </select>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id='cancel' data-dismiss="modal">Anuluj</button>
                <button (click)="addUser(AddFirstName.value, AddSurname.value, AddPassword.value, AddSecondName.value, AddPESEL.value, AddEmail.value, AddPhoneNumber.value, AddBirth.value, AddScore.value, selectedRole.value)" type="button" class="btn btn-primary"> Dodaj</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="editUser" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edytuj studenta</h5>
            </div>
            <div class="modal-body" #editUserModal>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="Imie" #Name>
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="Nazwisko" #Surname>
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="Drugie Imie" #SecondName>
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="PESEL" #PESEL>
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="Email" #Email>
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="Numer telefonu" #PhoneNumber>
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="Data urodzenia" #Birth>
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="Wskaznik rekrutacji" #Score>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelEdit">Anuluj</button>
                <button (click)="editUser(Name.value, Surname.value, SecondName.value, PESEL.value, Email.value, PhoneNumber.value, Birth.value, Score.value)" type="button" class="btn btn-primary">Edytuj</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>