.input-group {
    padding-bottom: 0.5rem;
}
.custom-select {
    box-shadow: none;
    display: inline-block;
    max-width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.25;
    color: #464a4c;
    vertical-align: middle;
    background: #fff;
    background-size: 8px 10px;
    border: 1px solid rgba(0,0,0,.15);
    height: 3rem;
}